#removeButton {
    background-color: red;
}

.container {
    width:40% !important;
    border-style: inset;
    height:20em;
    position: relative;
}

.majorContainer {
    width:100%;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    margin-top: 1em;
}
#img{
    width:35%;
}
     


#vidareKassan{
    border-style:groove;
    padding:0.5em;
    background-color: #f8f9fa;
    color:#b1a5a5;
    text-align: center;
  
}
.containerVidareKassan{
    width:40%;
    display: block;
    margin: auto;
    
    
}
#shopping-cart-title{
    text-align: center;
}