#removeButton {
    background-color: red;
}

.container {
    width:40% !important;
    border-style: inset;
    height:20em;
    position: relative;
}

.majorContainer {
    width:100%;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}
#img{
    width:35%;
}
     


#vidareKassan{
    background-color: black;
    color: white
}