.mainViewContainer {
    position: relative;
    margin-top: 3em;
    background-color: #f8f9fa;
    display: flex;
    margin:1em;
}

.mainViewImg {
    width:100%;
    padding:1em;
    height: 23em;
   
}
.paragraph {
    padding:0.5em
}

