.mainViewContainer {
    
    display: block;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    background-color: #f8f9fa;

    
    
}

.mainViewImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top:0.5em;
    height: 25em;
   
}
.paragraph {
    padding:0.5em
}

