.mainViewContainer {
    position: relative;
    margin-top: 2.4em;
    background-color: #f8f9fa;
    display: flex;
    margin:0.5em;
}

.mainViewImg {
    width:100%;
    padding:0.5em;
    height: 25em;
   
}
.paragraph {
    padding:0.5em
}

