#productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2em

}

.item {
    width: 50%;
    height:5em;
    background-color: aquamarine;
    margin:2em
}

.img{
    width:25%;
}

#viewButton, #addButton {
    width:100%;
    background-color:#f8f9fa;
}
#addButton {
    font-size: 1.3em;
   
}
#addButton:hover {
    font-size: 1.5em;
    background-color:hsl(213, 27%, 92%);;
}


.left-arrow-color{
   
   
    color:black;
    margin-left: 3em;
    width:30%;
    height:3em;
    
}
.detailContainer {
    padding: 1em;
    display: flex;
    flex-direction: column;
   
}

#allContainer {
    margin-top: 2em;
}