#productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em
}

.item {
    width: 50%;
    height:5em;
    background-color: aquamarine;
    margin:2em
}

.img{
    width:25%;
}

#viewButton, #addButton {
    width:50%;
    background-color:#f8f9fa;
}

#link{
    color: rgba(0,0,0,.5);
    
}

